__pycache__/
*.py[cod]
*$py.class

venv/
ENV/
env/
.venv/

build/
dist/
*.egg-info/
.eggs/
*.egg

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

.pycharm/
*.swp
*.swo

.DS_Store
Thumbs.db
desktop.ini

.ipynb_checkpoints

*.sql
*.dump

*.log
*.bak

# Secrets
.env